.scroll-text-section {
  width: 100%;
  height: 100svh;
  background: radial-gradient(circle at center, #222, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scroll-text-wrapper {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* padding-bottom: 120px; */
  gap: 8px;
  overflow: hidden;
}

/* Mỗi dòng text */
.scroll-text {
  font-size: clamp(24px, 4vw, 48px);
  font-weight: lighter;
  letter-spacing: 2px;
  color: #fff;
  line-height: 1;

  opacity: 0;
  
  transform: translateY(40px);
  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
}
.scroll-text:first-child{
    opacity: 1;
  transform: translateY(0);
}

/* Text được hiển thị */
.scroll-text.show {
  opacity: 1;
  transform: translateY(0);
}

/* Text cũ chỉ bị đôn lên – KHÔNG MỜ */
.scroll-text.old {
  opacity: 1;                 /* giữ nguyên rõ */
  transform: translateY(-10px);
}
